:root{
    --primary-color: #10c9c3;
    --black-color: #333;
    --grey-color: #838383;
    --smoke-color: #f5f5f5;
    --white-color: #fff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'montserrat', sans-serif;
    color: var(--black-color);
    background-color: var(--white-color);
}
.row:after{
    content: " ";
    clear: both;
    display: block;
}
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

[class*='col-']{
    float: left;
}

/*header section*/
header {
    background: url("../images/hero.jpg") no-repeat center center/cover;
    padding: 20px 0;
}
.logo{
    height: 64px;
    width: 64px;
}
.logo img{
    height: 100%;
    width: 100%;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}
.nav ul {
    list-style: none;
    display: flex;
    justify-content: end;
    gap: 30px;
    padding: 0;
    margin: 0;
}

.nav ul li a {
    text-decoration: none;
    color: var(--black-color);
    font-weight: 600;
    font-size: 16px;
    transition: color 0.3s;
}

.nav ul li a:hover {
    color: var(--primary-color);
}

.hero-content {
    padding: 150px 0px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 700;
    color: var(--black-color);
    margin-bottom: 20px;
}

.hero p {
    font-size: 16px;
    color: var(--black-color);
    margin-bottom: 30px;
}

.hero .col-6{
    float: right;
    padding: 60px;
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    background-color: var(--primary-color);
    color: var(--white-color);
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

/*header section end*/

/*about section*/
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 20px;
    background-color: var(--white-color);
    text-align: center;
}

.about h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about-text {
    font-size: 16px;
    max-width: 700px;
    margin: 0 auto;
    color: var(--black-color);
    line-height: 1.8;
}

.signature {
    width: 100%;
    margin-top: 40px;
}

/*about section end*/

/*skills section*/
.skills-content{
    height: 580px;
    overflow: hidden;
}
.skills-bar{
    padding: 180px 100px;
    background-color: var(--smoke-color);
}

.skills-img img{
    width: 100%;
}

.skills h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.skill {
    margin-bottom: 20px;
}

.skill p {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
}

.progress {
    background-color: var(--grey-color);
    border-radius: 50px;
    height: 8px;
    width: 100%;
}

.progress-bar {
    background-color: var(--primary-color);
    height: 8px;
    border-radius: 50px;
}
/*skill section end*/

/*stats section*/
.stats-section {
    align-items: center;
    background-color: var(--primary-color);
    padding: 80px 0;
    color: var(--white-color);
}

.stat-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.stat-item .icon img {
    width: 70px;
    height: auto;
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.stat-number {
    font-size: 24px;
    font-weight: bold;
}

.stat-label {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
/*stats section end*/

/*work section*/
.work {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Space between items */
    justify-content: space-between;
}

.work .col-3 {
    position: relative;
    width: calc(25%);
    overflow: hidden;
}
.work .col-3 img{
    width: 100%;
    height: 100%;
    display: block;
    transition: transform 0.3s ease;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    transition: opacity 0.3s ease;
}
.work .col-3:hover img {
    transform: scale(1.1);
}
.work .col-3:hover .overlay {
    opacity: 100;
}
/*work section end*/

/*process section*/
.process{
    padding-top: 50px;
    text-align: center;
}
.process .col-12 {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    padding: 100px;
    padding-top: 50px;
}

.process .col-12 video{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
}

.process h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

/*process section end*/

/*service section*/

.service{
    background: var(--smoke-color);
    padding: 50px;
}
.service .col-3{
    text-align: center;
    padding: 50px;
}
.service .stat-number{
    font-size: larger;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.service .stat-label{
    text-transform: none;
}
.testimonials {
    padding: 100px 20px;
    background-color: var(--primary-color);
    text-align: center;
    color: var(--white-color);
}

.testimonials blockquote {
    font-size: 18px;
    font-weight: 500;
    color: var(--white-color);
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 20px;
    line-height: 1.8;
}
.testimonials p{
    text-align: center;
    font-weight: 400;
}

.contact {
    padding: 80px 20px;
    background-color: var(--smoke-color);
    text-align: center;
}

.contact h2 {
    font-size: 36px;
    margin-bottom: 40px;
}
.contact p{
    margin-bottom: 30px;
}

.contact form {
    max-width: 600px;
    margin: 0 auto;
    display: grid;
    gap: 20px;
    border: none;
    text-align: center;

}
.contact form .input-group{
    display: flex;
    gap: 25px;
}

.contact input, .contact textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 14px;
}

.contact textarea {
    height: 100px;
    resize: none;
}

.contact button {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 30%;
}

.contact .button-container {
    text-align: center;
}

.footer {
    background-color: #111;
    color: #fff;
    padding: 20px 0;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.footer-left, .footer-center, .footer-right {
    flex: 1;
}

.footer-left h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.footer-left p {
    margin: 5px 0;
    font-size: 14px;
}

.footer-center p {
    margin: 10px 0;
    font-size: 14px;
}

.footer-right ul {
    list-style: none;
    padding: 0;
    margin: 0 0 10px;
    font-size: 14px;
}

.footer-right ul li {
    margin-bottom: 5px;
}

.footer-right ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-right ul li a:hover {
    text-decoration: underline;
}
/* Responsive Styles */

@media (max-width: 1200px) {
    .fleft{
        width: 100% !important;
        float: left;
        padding: 30px;
    }
    .skills-bar{
        width: 100%;
    }
    .skills-img{
        display: none;
    }
    .stats-section .col-3{
        width: 50%;
    }
    .work .col-3{
        width: 33.33%;
    }
}

@media (max-width: 768px) {
    .nav ul {
        display: none;
    }
    .fleft{
        width: 100% !important;
        float: left;
        padding: 30px;
    }
    .hero {
        padding: 20px;
    }

    .hero h1 {
        font-size: 36px;
    }

    .skills h2, .work h2, .process h2, .contact h2, .about h2 {
        font-size: 30px;
    }
    .skills-bar{
        width: 100%;
    }
    .skills-img{
        display: none;
    }
    .stats-section {
        flex-direction: column;
        padding: 40px 0;
    }
    .stats-section .col-3{
        width: 100%;
        float: left;
    }

    .stat-item {
        margin-bottom: 20px;
    }

    .work .col-3{
        width: 50%;
    }

    .process .col-12{
        padding: 50px;
    }
}

@media (max-width: 576px) {
    .nav ul {
        display: none;
    }
    .fleft{
        width: 100% ;
        float: left;
        padding: 30px;
    }
    .hero h1 {
        font-size: 28px;
    }

    .btn {
        padding: 12px 25px;
        font-size: 12px;
    }
    .skills-img{
        display: none;
    }
    .skills-bar{
        width: 100%;
    }
    .skills h2, .work h2, .process h2, .contact h2, .about h2 {
        font-size: 26px;
    }


}
